{{extend 'layout.html'}}

{{
  n_grupos = len(grupos)
  if n_grupos:
    n_grupos_in_row = 4
    n_rows = int(n_grupos/n_grupos_in_row) + (1 if n_grupos%n_grupos_in_row else 0)
    n = 12/n_grupos_in_row
    }}

    {{for i in range(n_rows):
        =XML('<div class="row">')
        for grupo in grupos[i*n_grupos_in_row:(i+1)*n_grupos_in_row]: }}
        <div class="col-sm-6 col-md-{{=n}}" style="height:300px;">
          <div class="thumbnail ace-scroll" style="height:300px;">
            {{
            path=''
            if grupo.miniatura:
                file_properties = db.grupo.miniatura.\
                                    retrieve_file_properties(grupo.miniatura or '')
                filename = file_properties['filename'].lower()
                path = os.path.join(server.PORTAL_PATH, file_properties['path'], 
                                    grupo.miniatura)
                pass
            }}
            
            
            {{if os.path.isfile(path):}}
                <img src="{{=URL('download',args=(grupo.miniatura,))}}" title="{{=grupo.nome}}" alt="">
            {{else:}}
                <div style="font-size: 100px; line-height:110px;margin-bottom:10px;color:#dddddd;" class="center">
                    <i class="ace-icon fa fa-file-image-o fa-border"></i>
                </div>
            {{pass}}
            <address>
              <strong>
                <a href="{{=URL('grupos','grupo',args=(grupo.slug,))}}">
                  {{=truncate_words(grupo.nome, 5)}}
                </a>
              </strong>
              <br>
              Cidade: {{=db.cidade._format(grupo.cidade_id) or "-" }}
              <br>
              {{ if grupo.curso: }}
                  Curso: {{=grupo.curso }}
                  <br>
                {{pass}}
                      {{ if grupo.instituicao_id: }}
                          Instituição: {{=grupo.instituicao_id }}
                          <br>
                      {{pass}}
            </address>
          </div>
          <div class="bottom-align" style="position:absolute; bottom:10px; left:20px;">
		          <a class="btn btn-primary btn-sm" href = "{% url grupo_message_box o.slug %}" rel="tooltip" title="Deixe uma Mensagem">
                    <i class="fa fa-icon fa-envelope" ></i>
                  </a>
                  <a href="#" class="btn btn-default btn-sm">Atividades</a>
		      </div>
        </div>
        {{pass}}
      </div>
      <div class="space-10"></div>
  {{pass}}
{{pass}}
