{{from html_utils import MENU_}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{=response.title or request.application}}</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="application-name" content="{{=request.application}}" />
        <meta name="google-site-verification" content="yJ6nut87YYmNYp53Aknjz9-BEQ7g_n7IRwKX2Jcae0k" />
		<!-- basic styles -->
        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

        {{block extra_css}}{{end}}

        {{include 'web2py_ajax.html'}}



		<!--[if IE 7]>
		  {{=LINK( _href=URL('static','assets/css/font-awesome-ie7.min.css'), _rel="stylesheet", _type="text/css")}}
		<![endif]-->

		<!--[if lte IE 8]>
		  {{=LINK( _href=URL('static','assets/css/ace-ie.min.css'), _rel="stylesheet", _type="text/css")}}
		<![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		{{=SCRIPT( _src=URL('static','assets/js/html5shiv.js'), _type="text/javascript")}}
		{{=SCRIPT( _src=URL('static','assets/js/respond.min.js'), _type="text/javascript")}}
		<![endif]-->
	</head>

	<body class="login-layout">
		<div class="main-container">
			<div class="main-content">
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1">
						<div class="login-container">
							<div class="center">
								<h1>
									<i class="icon-leaf green"></i>
									<span class="red">Portal</span>
									<span class="white">PET</span>
								</h1>
								<h4 class="blue">&copy; PortalPET</h4>
							</div>

							<div class="space-6"></div>

							<div class="position-relative">
								<div id="login-box" class="login-box visible widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header blue lighter bigger">
												<i class="icon-coffee green"></i>
												Entre com suas credenciais
											</h4>
											{{if form.errors:}}
                                              Your submitted form contains the following errors:
                                              <ul>
                                              {{for fieldname in form.errors:}}
                                                <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
                                              {{pass}}
                                              </ul>
                                              {{form.errors.clear()}}
                                            {{pass}}

											<div class="space-6"></div>
										        {{
										        form.custom.widget.username['_class'] = 'form-control'
										        form.custom.widget.password['_class'] = 'form-control'
										        form.custom.widget.username['_placeholder'] = 'email'
										        form.custom.widget.password['_placeholder'] = 'password'
										        }}
										        {{=form.custom.begin}}
										        <fieldset>
												    <label class="block clearfix">
													    <span class="block input-icon input-icon-right">
										                    {{=form.custom.widget.username}}
										                    <i class="icon-user"></i>
									                    </span>
												    </label>
												    <label class="block clearfix">
													    <span class="block input-icon input-icon-right">
										                    {{=form.custom.widget.password}}
										                    <i class="icon-lock"></i>
									                    </span>
												    </label>
												    <div class="space"></div>

												    <div class="clearfix">
													    <label class="inline">
														    <input type="checkbox" class="ace" id="auth_user_remember" name="remember"/>
														    <span class="lbl"> Lembrar-me</span>
													    </label>

													    <button class="width-35 pull-right btn btn-sm btn-primary" type="submit">
														    <i class="icon-key"></i>
														    Entrar
													    </button>
												    </div>
											    </fieldset>
											    {{=form.custom.end}}
<!--											<form>-->
<!--												<fieldset>-->
<!--													<label class="block clearfix">-->
<!--														<span class="block input-icon input-icon-right">-->
<!--															<input type="text" class="form-control" placeholder="Username" />-->
<!--															<i class="icon-user"></i>-->
<!--														</span>-->
<!--													</label>-->

<!--													<label class="block clearfix">-->
<!--														<span class="block input-icon input-icon-right">-->
<!--															<input type="password" class="form-control" placeholder="Password" />-->
<!--															<i class="icon-lock"></i>-->
<!--														</span>-->
<!--													</label>-->

<!--													<div class="space"></div>-->

<!--													<div class="clearfix">-->
<!--														<label class="inline">-->
<!--															<input type="checkbox" class="ace" />-->
<!--															<span class="lbl"> Remember Me</span>-->
<!--														</label>-->

<!--														<button type="button" class="width-35 pull-right btn btn-sm btn-primary">-->
<!--															<i class="icon-key"></i>-->
<!--															Login-->
<!--														</button>-->
<!--													</div>-->

<!--													<div class="space-4"></div>-->
<!--												</fieldset>-->
<!--											</form>-->

											<div class="social-or-login center">
												<span class="bigger-110">Ou entre com:</span>
											</div>

											<div class="social-login center">
												<a class="btn btn-primary">
													<i class="icon-facebook"></i>
												</a>

												<a class="btn btn-info">
													<i class="icon-twitter"></i>
												</a>

												<a class="btn btn-danger">
													<i class="icon-google-plus"></i>
												</a>
											</div>
										</div><!-- /widget-main -->

										<div class="toolbar clearfix">
											<div>
												<a href="#" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
													<i class="icon-arrow-left"></i>
													Esqueci minha senha
												</a>
											</div>

											<div>
												<a href="#" onclick="show_box('signup-box'); return false;" class="user-signup-link">
													Não tenho uma conta
													<i class="icon-arrow-right"></i>
												</a>
											</div>
										</div>
									</div><!-- /widget-body -->
								</div><!-- /login-box -->

								<div id="forgot-box" class="forgot-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header red lighter bigger">
												<i class="icon-key"></i>
												Recuperar a senha
											</h4>

											<div class="space-6"></div>
											<p>
												Informe o email para enviarmos as instruções
											</p>
											    
    
<!--											<form>-->
<!--												<fieldset>-->
<!--													<label class="block clearfix">-->
<!--														<span class="block input-icon input-icon-right">-->
<!--															<input type="email" class="form-control" placeholder="Email" />-->
<!--															<i class="icon-envelope"></i>-->
<!--														</span>-->
<!--													</label>-->

<!--													<div class="clearfix">-->
<!--														<button type="button" class="width-35 pull-right btn btn-sm btn-danger">-->
<!--															<i class="icon-lightbulb"></i>-->
<!--															Send Me!-->
<!--														</button>-->
<!--													</div>-->
<!--												</fieldset>-->
<!--											</form>-->
										</div><!-- /widget-main -->

										<div class="toolbar center">
											<a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
												Voltar para login
												<i class="icon-arrow-right"></i>
											</a>
										</div>
									</div><!-- /widget-body -->
								</div><!-- /forgot-box -->

								<div id="signup-box" class="signup-box widget-box no-border">
									<div class="widget-body">
										<div class="widget-main">
											<h4 class="header green lighter bigger">
												<i class="icon-group blue"></i>
												New User Registration
											</h4>

											<div class="space-6"></div>
											<p> Enter your details to begin: </p>

											<fieldset>
												<label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input type="email" class="form-control" placeholder="Email" />
														<i class="icon-envelope"></i>
													</span>
												</label>

												<label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input type="text" class="form-control" placeholder="Username" />
														<i class="icon-user"></i>
													</span>
												</label>

												<label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input type="password" class="form-control" placeholder="Password" />
														<i class="icon-lock"></i>
													</span>
												</label>

												<label class="block clearfix">
													<span class="block input-icon input-icon-right">
														<input type="password" class="form-control" placeholder="Repeat password" />
														<i class="icon-retweet"></i>
													</span>
												</label>

												<label class="block">
													<input type="checkbox" class="ace" />
													<span class="lbl">
														I accept the
														<a href="#">User Agreement</a>
													</span>
												</label>

												<div class="space-24"></div>

												<div class="clearfix">
													<button type="reset" class="width-30 pull-left btn btn-sm">
														<i class="icon-refresh"></i>
														Reset
													</button>

													<button type="button" class="width-65 pull-right btn btn-sm btn-success">
														Register
														<i class="icon-arrow-right icon-on-right"></i>
													</button>
												</div>
											</fieldset>
										</div>

										<div class="toolbar center">
											<a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
												<i class="icon-arrow-left"></i>
												Back to login
											</a>
										</div>
									</div><!-- /widget-body -->
								</div><!-- /signup-box -->
							</div><!-- /position-relative -->
						</div>
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

        <!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='{{=URL('static','assets/js/jquery-2.0.3.min.js')}}'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!-- basic scripts -->
        {{
        for static in js_s:
            =XML("%s\n" %static.xml())
            pass
        }}

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='{{=URL('static','assets/js/jquery-1.10.2.min.js')}}'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='{{=URL('static','assets/js/jquery.mobile.custom.min.js')}}'>"+"<"+"/script>");
		</script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			function show_box(id) {
			 jQuery('.widget-box.visible').removeClass('visible');
			 jQuery('#'+id).addClass('visible');
			}
		</script>

	</body>
</html>
