DEVELOPMENT/*
errors/*
sessions/*
databases/*
.hg*
.pythonhistory*
uploads/*
static/css-REMOVE/*
static/js-REMOVE/*
static/images-REMOVE/*
static/bootstrap-REMOVE/*
*~
*.pyc
server.*
portalpet/*
models/original*
FILE_NAME
FILE_NAME
