{{extend 'grupos/grupo_base.html' }}


{% block breadcrumbs %}
	<span class="divider">/</span> <li><a href="{% url atividades_grupo_list grupo.slug %}">atividades</a></li>
{% endblock %}


  {% ifhasperm "grupo_permission.manager_atividade_grupo" request.user grupo %}
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          {% ifhasperm "grupo_permission.manager_atividade_grupo" request.user grupo %}
          <th width="20"></th>
          {% endifhasperm %}
          <th >Nome</th>
          <th width="10%">Tipo</th>
          <th width="25%">Horário(s)</th>
        </tr>
      </thead>
      <tbody>
        {{ for a in atividades: }}
          <tr>
            {% ifhasperm "grupo_permission.manager_atividade_grupo" request.user grupo %}
              <td>
                <a href="{% url delete_atividade a.slug %}" title="Apagar esta atividade" >
                  <i class="icon-trash"></i>
                </a>
              </td>
            {% endifhasperm %}
            <td style="text-align:left;">
              <a href="{% url mostra_atividade a.slug %}">{{=a.nome}}</a>
              [<a href="{% url edit_atividade a.slug %}">
               editar</a>]
            </td>
            <td>{{=a.tipo}}</td>
            <td>{{=periodos_shortcut(db,a)}}</td>
          </tr>
        {{pass}}
      </tbody>
    </table>
  {% else %}
    {% include "portal/evento_list.html" %}
  {% endifhasperm %}
