{{extend 'grupos/grupo_base.html' }}

{{block extra_script}}
  {{super}}
  <script type="text/javascript" src="{{=URL('static','js/jquery.jeditable.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static','js/jquery.jeditable.masked.js')}}"></script>
  <script type="text/javascript" src="{{=URL('static','js/jquery.maskedinput.js')}}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".edit_date_time").editable("{{=URL('grupos','jeditable')}}", {
        type : "masked",
        mask : "99/99/9999 99:99",
        style  : "inherit",
        submit : "OK",
        cancel : 'Cancel'
      });
   });
  </script>
{{end}}

{{
  from reuniao_utils import topico_status,topico_status_class
  from myutils import regroup
  topico_set = reuniao.topicos_set()
  topicos = topico_set.select(db.topico.ALL)
}}

<div class="alert alert-info">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <h4 class="alert-heading"><i class="icon-circle-info"></i>
    Confirme os dados abaixo ou cancele o encerramento.
  </h4>
  <p>Note que você pode editar a data e hora clicando sobre as mesmas</p>
</div>
<div class="alert alert-warning">
  <a class="close" data-dismiss="alert" href="#">&times;</a>
  <i class="icon-warning-sign"></i>
  <strong>Atenção!</strong>
  Por motivos de segurança, após a confirmação de encerramento desta reunião,
  todos os tópicos que fazem parte desta reunião não mais poderão ser editados.
</div>

<form method="POST" name="formulario" >
  <div class="btn-toolbar" style="text-align:right;">
    <div class="btn-group">
      <button type="submit" name="submit" class="btn" value="Não">Cancelar</button>
    </div>
    <div class="btn-group">
      <button type="submit" name="submit" class="btn btn-primary" value="Sim"><i class="icon-circle-exclamation-mark icon-white"></i> Confirmar Encerramento</button>
    </div>
  </div>

  <div class="well">
    <table{{ if alert_finished: }} class="table table-bordered table-condensed"{{pass}}>
      {{ if alert_finished: }}
      <caption class="text-error">
        Esta reunião tem
        {{=XML(datediff_T((reuniao.termino or request.now) - reuniao.inicio) )}}
        de duração, isso está certo?
        <i class="icon-circle-info" title="Você pode editar a data de início e término desta reunião clicando sobre elas logo abaixo" data-placement="right" rel="tooltip"></i>
      </caption>
      {{pass}}
      <tr{{ if alert_finished: }} class="warning"{{pass}}>
        <td><h5>Início:</h5></td>
        <td>
          <h5>
            <span id="db-reuniao-inicio-{{=reuniao.id}}" class="edit_date_time" title="clique para editar">
              {{=date2str(reuniao.inicio)}}
            </span>
          </h5>
        </td>
      </tr>
      <tr{{ if alert_finished: }} class="warning"{{pass}}>
        <td><h5>Término:</h5></td>
        <td>
          <h5>
            <span id="db-reuniao-termino-{{=reuniao.id}}" class="edit_date_time" title="clique para editar">
              {{=date2str(reuniao.termino or request.now)}}
            </span>
          </h5>
        </td>
      </tr>
    </table>
    <br>
    {{=H3(T('%%{Tópico} %%{Discutido} ( %s )',topico_set.count()) )}}
    <div class="accordion" id="topicos">
    {{ for topico_by_assunto in regroup(topicos,db.topico.assunto_id): }}
      {{ topicos_in_assunto_count = len(topico_by_assunto.list) }}
      <div class="accordion-group {% if topico.limite and topico.limite < today and topico.limite < topico.data_acao %}alert{% else %}{%if topico.limite and topico.limite < today and not topico.data_acao %}alert{% endif %}{% endif %}" {% if topico.limite and topico.limite < today and topico.limite < topico.data_acao %}style="padding:0;"{% else %}{%if topico.limite and topico.limite < today and not topico.data_acao %}style="padding:0;"{% endif %}{% endif %}>
        <div class="accordion-heading">
          <a data-toggle="collapse" data-target="#topico{{#forloop.counter}}" data-parent="#topicos" class="accordion-toggle">
            <h4>{{=db.assunto(topico_by_assunto.grouper).assunto or XML("&lt;Sem assunto&gt;")}} ( {{=T("%s %%{tópico}",topicos_in_assunto_count)}} )</h4>
          </a>
        </div>
        <div id="topico{{#forloop.counter}}" class="accordion-body collapse">
          <div class="accordion-inner">
            <div style="margin-top:15px;max-height:400px;overflow-y: auto;">
              <table class="table table-striped table-bordered">
                <tbody>
                {{ for topico in topico_by_assunto.list: }}
                  {{status,status_class = topico_status(topico),topico_status_class(topico)}}
                  <tr{{ if status_class: }} class="{{=status_class}}"{{pass}}>
                    <td>
                      <div class="pull-right" style="text-align:right;font-size:15px;">
                        <strong style="">
                          <em>{{topico.data}}</em><br>
                        </strong>
                        {{ if status: }}
                        <small>( {{=status}} )</small>
                        {{pass}}
                      </div>
                      {{ include "grupos/topico_descricao.html" }}
                    </td>
                  </tr>
                {{pass}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    {{pass}}
    </div>
    {{ausentes_count = reuniao.ausentes_set().count()}}
    <h3 class="destaque">Ausentes {{if ausentes_count:}}({{=ausentes_count}}){{pass}}</h3>
    <div>
      {{=UL(*[p.nome for p in reuniao.ausentes_set().select(db.pessoa.ALL)]) }}
    </div>
  </div>
</form>
