{{extend 'grupos/grupo_base.html' }}


{{
  n_integrantes = len(integrantes)
  if n_integrantes:
    n_integrantes_in_row = 4
    n_rows = int(n_integrantes/n_integrantes_in_row) + (1 if n_integrantes % n_integrantes_in_row else 0)
    n = 12/n_integrantes_in_row }}

    {{for i in range(n_rows):
        =XML('<div class="row">')
        for p in integrantes[i*n_integrantes_in_row:(i+1)*n_integrantes_in_row]: }}
        <div class="col-sm-6 col-md-{{=n}}" style="height:100%;">
          <div class="thumbnail" style="height:100%;">
            <a class="pull-right" href = "{{=URL('default','send_message',args=(p.pessoa.slug,),vars={'destinatario':p.pessoa.id,'next':URL('grupos','integrantes',args=request.args,url_encode=True)} ) }}" rel="tooltip" title="Deixe uma Mensagem">
              <i class="icon-envelope" ></i>
            </a>
            <img src="{{=URL('default','download',args=(p.pessoa.miniatura,)) if p.pessoa.miniatura else URL('static','assets/avatars/avatar2.png')}}" alt="{{=p.pessoa.nome}}" class="img-responsive" style="height:100px;">
            <div class="caption">
              <h3><a href="{{=URL('default','pessoa',args=(p.pessoa.slug,))}}">{{=p.pessoa.nome }} {{ if p.pessoa_fisica.apelido: }}( {{=p.pessoa_fisica.apelido }} ) {{pass}}</a></h3>
              <p>Cidade de origem: {{=db.cidade._format(p.pessoa.cidade_id) }}</p>
              {{ if p.integrante.ing_Pet: }}<p>Integrante desde {{=date2str(p.integrante.ing_Pet) }}</p>{{pass}}
              <p>email: {{=p.pessoa_fisica.user_id.email }}</p>
              {{ if p.integrante.orkut: }}<p><a href="{{=p.integrante.orkut}}">orkut</a></p>{{pass}}
              {{ if p.integrante.lattes: }}<p><a href="{{=p.integrante.lattes}}"> lattes</a></p>{{pass}}
            </div>
          </div>
        </div>
        {{pass}}
      </div>
      <div class="space-4"></div>
  {{pass}}
{{pass}}
