{{from reuniao_utils import topico_responsaveis_representacao}}

{{=DIV(XML(topico.texto),_style="overflow: auto;max-height:200px")}}

{{ if topico.limite: }}
  <h4>Data limite:</h4>
  {{=date2str(topico.limite)}}
{{pass}}
{{ if topico.data_acao: }}
  <h4>Data da ação:</h4>
  {{=date2str(topico.data_acao)}}
{{pass}}

{{ if topico.responsaveis_set().count(): }}
  <h4>Responsáveis:</h4>
  <p>
    {{=topico_responsaveis_representacao(db,topico)}}
  </p>
{{pass}}
{{ if topico.comentario: }}
  <h4>Coment&aacute;rios:</h4>
  {{=XML(topico.comentario)}}<br>
{{pass}}

<h4>Pautas:</h4>
{{=P(', '.join([p.nome for p in topico.pautas_set().select(db.pauta.ALL)])) }}
{{topico_count = topico.posts_set().count()}}
{{ for i,post in enumerate(topico.posts_set().select(orderby=db.post.data) ): }}
  {{ if i==0: }}<hr>{{pass}}
  <b>Em {{=date2str(post.data)}} {{=post.autor_id.nome}} escreveu:</b>
  {{=DIV(XML(post.texto)) }}
  <div class="hr{{ if not i==topico_count-1: }} hr-dotted{{else:}} hr-double hr32{{pass}}"></div>
{{ pass }}

{{ if topico.encerrado: }}
  {{=H4("Tópico encerrado!")}}
{{pass}}
