{{extend 'grupos/grupo_base.html' }}

<div class="well">
  {{print topico,888888888888888888888888888888888,edicao or not topico}}
  {{ if (edicao or not topico): }}
    {{if edicao:}}
      <div class="btn-toolbar">
        <div class="btn-group pull-right">
          <a href = "{{=URL('grupos','desmembrar_topico',args=(grupo.slug,reuniao.id,topico.id)) }}" rel="tooltip" class="btn btn-primary{{ if not topico.assunto_id: }} disabled{{pass}}" title="{{ if not topico.assunto_id:}} Você não pode criar um tópico relacionado à este assunto, pois este tópico não possui um assunto{{ else: }}Clique para criar um tópico relacionado a este assunto{{pass}}">
            <i class="icon-circle-plus icon-white"></i> Novo Tópico Relacionado
          </a>
        </div>
      </div>
    {{pass}}
    {{=form}}
  {{else:}}
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <h3><u>{{=topico.assunto_id.assunto or "&lt;Sem assunto&gt;"}}</u> [{{=topico.data}}]</h3>
        {{ include "grupos/topico_descricao.html" }}
      </div>
      <div class="col-xs-12 col-sm-7">
        <div class="btn-toolbar">
          <div class="btn-group pull-right">
            <a rel="tooltip" href = "{{=URL('grupos','topico',args=(grupo.slug,reuniao.hash,topico.id),vars=dict(edicao=True,next=request.env.path_info,pautas=request.get_vars.get('pautas'))) }}" class="btn btn-primary {{ if topico.closed: }} disabled{{ pass }}"{{ if topico.closed: }} title="Este tópico não pode ser editado, pois já se encontra fechado."{{ pass }}>
              <i class="icon-pencil icon-white"></i>  Editar
            </a>
            <a href = "{{ =URL('grupos','desmembrar_topico',args=(grupo.slug,reuniao.id,topico.id)) }}" rel="tooltip" class="btn btn-primary{{ if not topico.assunto_id: }} disabled{{ pass }}" title="{{ if not topico.assunto_id: }} Você não pode criar um tópico relacionado à este assunto, pois este tópico não possui um assunto{{ else: }}Clique para criar um tópico relacionado a este assunto{{ pass }}">
              <i class="icon-circle-plus icon-white"></i> Novo Tópico Relacionado
            </a>
          </div>
        </div>
        <div class="space"></div>
        <h4 class="blue">Insira abaixo o andamento deste tópico</h4>
        {{=pForm}}
      </div>
    </div>
  {{pass}}
</div>
