{{
from html_utils import MENU_
if not ('pessoa' in globals() or 'pessoa' in locals() ):
    if not 'pessoa_record' in globals() or not 'pessoa_record' in locals()  :
        pessoa = get_pessoa(request,db,auth)
    else:
        pessoa = pessoa_record
        pass
    pass
}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{=response.title or request.application}}</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="application-name" content="{{=request.application}}" />
        <meta name="google-site-verification" content="yJ6nut87YYmNYp53Aknjz9-BEQ7g_n7IRwKX2Jcae0k" />

        <link rel="shortcut icon" href="{{=URL('static','images/favicon.ico')}}" type="image/x-icon">
        <link rel="apple-touch-icon" href="{{=URL('static','images/favicon.png')}}">

        {{block extra_css}}{{end}}

        {{include 'web2py_ajax.html'}}



		<!--[if IE 7]>
		  {{=LINK( _href=URL('static','assets/css/font-awesome-ie7.min.css'), _rel="stylesheet", _type="text/css")}}
		<![endif]-->

		<!--[if lte IE 8]>
		  {{=LINK( _href=URL('static','assets/css/ace-ie.min.css'), _rel="stylesheet", _type="text/css")}}
		<![endif]-->

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		{{=SCRIPT( _src=URL('static','assets/js/html5shiv.js'), _type="text/javascript")}}
		{{=SCRIPT( _src=URL('static','assets/js/respond.min.js'), _type="text/javascript")}}
		<![endif]-->
	</head>

	<body class="skin-3 no-skin">
		<div class="navbar navbar-default navbar-fixed-top" id="navbar">
			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="{{=URL('default','index.html')}}" class="navbar-brand">
						<small>
							<i class="ace-icon fa fa-leaf"></i>
							Portal PET
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

					    <li class="blue">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="ace-icon fa fa-lock"></i>
								<span class="badge badge-grey">Administração</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-lock"></i>
									Administração do sistema
								</li>

								<li>
									<a href="{{=URL('portalpet','appadmin','index')}}" target="_blank">
										<i class="ace-icon fa fa-hdd"></i>
										Database
									</a>
								</li>
								<li>
									<a href="{{=URL('admin','default','errors',args=('portalpet'))}}" target="_blank">
										<i class="ace-icon fa fa-hdd"></i>
										Erros
									</a>
								</li>
								<li>
									<a href="{{=URL('portalpet','appadmin','update',args=('db','control_migration',1) )}}" target="_blank">
										<i class="ace-icon fa fa-hdd"></i>
										Control Migration
									</a>
								</li>
								<li>
									<a href="{{=URL('portalpet','appadmin','update',args=('db','control_permission',1) )}}" target="_blank">
										<i class="ace-icon fa fa-hdd"></i>
										Control Permission
									</a>
								</li>
								<li>
									<a href="{{=URL('admin','debug','interact') }}" target="_blank">
										<i class="ace-icon fa fa-bug"></i>
										Debug
									</a>
								</li>

								<li>
									<a href="{{=URL('admin','default','design',args=('portalpet')) }}" target="_blank">
										Editar Portal PET
										<i class="ace-icon fa fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>


						<li class="grey">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="ace-icon fa fa-tasks"></i>
								<span class="badge badge-grey">{{#Ações pendentes}}</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-ok"></i>
									4 Tarefas Pendentes
								</li>

<!--								<li>-->
<!--									<a href="#">-->
<!--										<div class="clearfix">-->
<!--											<span class="pull-left">Software Update</span>-->
<!--											<span class="pull-right">65%</span>-->
<!--										</div>-->

<!--										<div class="progress progress-mini ">-->
<!--											<div style="width:65%" class="progress-bar "></div>-->
<!--										</div>-->
<!--									</a>-->
<!--								</li>-->

								<li>
									<a href="#">
										Ver tarefas em detalhe
										<i class="ace-icon fa fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="purple">
							<a data-toggle="dropdown" class="dropdown-toggle" href="#">
								<i class="ace-icon fa fa-bell icon-animated-bell"></i>
								<span class="badge badge-important">{{#Alertas}}</span>
							</a>

							<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-warning-sign"></i>
									Alertas
								</li>

<!--								<li>-->
<!--									<a href="#">-->
<!--										<div class="clearfix">-->
<!--											<span class="pull-left">-->
<!--												<i class="btn btn-xs no-hover btn-pink ace-icon fa fa-comment"></i>-->
<!--												New Comments-->
<!--											</span>-->
<!--											<span class="pull-right badge badge-info">+12</span>-->
<!--										</div>-->
<!--									</a>-->
<!--								</li>-->

								<li>
									<a href="#">
										Ver todos os Alertas
										<i class="ace-icon fa fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="green">
							<a data-toggle="dropdown" class="dropdown-toggle" href="{{=URL('default','inbox')}}">
								<i class="ace-icon fa fa-envelope ace-icon fa fa-animated-vertical"></i>
								<span class="badge badge-success">{{="(%s)" %unreaded if unreaded else ''}}</span>
							</a>

							<ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
								<li class="dropdown-header">
									<i class="ace-icon fa fa-envelope-alt"></i>
									Mensagens
								</li>

<!--								<li>-->
<!--									<a href="#">-->
<!--										<img src="assets/avatars/avatar.png" class="msg-photo" alt="Alex's Avatar" />-->
<!--										<span class="msg-body">-->
<!--											<span class="msg-title">-->
<!--												<span class="blue">Alex:</span>-->
<!--												Ciao sociis natoque penatibus et auctor ...-->
<!--											</span>-->

<!--											<span class="msg-time">-->
<!--												<i class="ace-icon fa fa-time"></i>-->
<!--												<span>a moment ago</span>-->
<!--											</span>-->
<!--										</span>-->
<!--									</a>-->
<!--								</li>-->

								<li>
									<a href="inbox.html">
										Ver todas as Mensagens
										<i class="ace-icon fa fa-arrow-right"></i>
									</a>
								</li>
							</ul>
						</li>

						<li class="light-blue">
						    {{if auth.is_logged_in() and pessoa:}}
    							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								    <img class="nav-user-photo" src="{{=URL('default','download',args=(pessoa.pessoa.miniatura,))}}" alt="IMG" />
								    <span class="user-info">
									    <small>Bem vindo,</small>
									    {{if auth.is_logged_in():
									        =pessoa.pessoa.nome
									        pass
								        }}
								    </span>
								    <i class="ace-icon fa fa-caret-down"></i>
							    </a>
							    <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								    <li>
									    <a href="#">
										    <i class="ace-icon fa fa-cog"></i>
										    Configurações
									    </a>
								    </li>

								    <li>
									    <a href="{{=URL('default','pessoa')}}">
										    <i class="ace-icon fa fa-user"></i>
										    Perfil
									    </a>
								    </li>

								    <li class="divider"></li>

								    <li>
									    <a href="{{=URL('default','user',args=('logout',))}}">
										    <i class="ace-icon fa fa-off"></i>
										    Logout
									    </a>
								    </li>
							    </ul>
						    {{else:
    						    =A(I(_class="ace-icon fa fa-signin"),' Login / Registre-se',_href=URL('default','user',args=('login',)) )
						    pass}}

						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container container" id="main-container">
			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar responsive sidebar-fixed sidebar-scroll" id="sidebar">

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
							<button class="btn btn-success">
								<i class="ace-icon fa fa-signal"></i>
							</button>

							<button class="btn btn-info">
								<i class="ace-icon fa fa-pencil"></i>
							</button>

							<button class="btn btn-warning">
								<i class="ace-icon fa fa-group"></i>
							</button>

							<button class="btn btn-danger">
								<i class="ace-icon fa fa-cogs"></i>
							</button>
						</div>

						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->
                    {{is_mobile=request.user_agent().get('is_mobile')}}
                      {{if response.menu:
                        =MENU_(response.menu, _class='mobile-menu nav' if is_mobile else 'nav nav-list',mobile=is_mobile,li_class='',li_first='',li_last='',ul_class='submenu',li_active='active',active_url=request.env.path_info)
                        pass
                    }}
                    <div id="sidebar-collapse" class="sidebar-toggle sidebar-collapse">
                        <i class="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left"></i>
                    </div>
				</div>

				<div class="main-content">
					<div class="breadcrumbs breadcrumbs-fixed" id="breadcrumbs">
						<script type="text/javascript">
						    try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
					    </script>

					    <ul class="breadcrumb">
						    <li>
							    <i class="ace-icon fa fa-home home-icon"></i>
							    <a href="#">Home</a>
						    </li>
						    <li class="active">Dashboard</li>
					    </ul><!-- /.breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
								    <input type="text" 
								           placeholder="Pequisar 'Grupos', 'Pessoas', 'Atividades'..."
                                           class="nav-search-input"
                                           id="tags-search"
                                           style="width:320px;"
                                           autocomplete="off"
                                           data-typeahead-url="{{=URL('default','generic_search',extension='json', vars=dict(url=True))}}"
                                           data-typeahead-return="window.location.replace(datum.value);">
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content" style="opacity: 1;">

					    <div class="page-content-area">
                            <title>{{=response.title or request.application}}</title>

                            {{block header}}
                            <div cass="page-header">
                                <h1>
                                    {{=response.title or request.application}}
                                    <small>
                                        <i class="ace-icon fa fa-double-angle-right"></i>
                                        {{=response.subtitle or ''}}
                                    </small>
                                </h1>
                            </div>
                            {{end}}

                            <div class="row">
                                <div class="col-xs-12">
                                  <!-- PAGE CONTENT BEGINS -->
		                            {{if response.paginate:}}
		                                <div class="row">
                                            <div class="col-xs-12">
	                                            <div class="pull-right">
                                                {{=response.paginate}}
                                                </div>
                                            </div>    
                                        </div>
                                        <div class="space"></div>
                                    {{pass}}

		                            {{for message in session.flash or []:
		                                =message
		                                pass
	                                }}

                                    {{ include }}

		                            <!-- PAGE CONTENT ENDS -->
	                            </div><!-- /.col -->
                            </div><!-- /.row -->
					    </div>

					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

                {{block settings}}
				<div class="ace-settings-container" id="ace-settings-container">
					<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
						<i class="ace-icon fa fa-cog bigger-150"></i>
					</div>

					<div class="ace-settings-box" id="ace-settings-box">
						<div>
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="default" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select>
							</div>
							<span>&nbsp; Choose Skin</span>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
							<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
							<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
							<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
							<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
							<label class="lbl" for="ace-settings-add-container">
								Inside
								<b>.container</b>
							</label>
						</div>
					</div>
				</div><!-- /#ace-settings-container -->
				{{end}}
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

        {{include 'default_script.html'}}
		{{block script}}{{end}}

	</body>
</html>
