<link rel="shortcut ace-icon fa" href="{{=URL('static','images/favace-icon fa.ico')}}" type="image/x-ace-icon fa">
<link rel="apple-touch-ace-icon fa" href="{{=URL('static','images/favace-icon fa.png')}}">

<link rel="stylesheet" href="{{=URL('static','css/extra.css')}}" />

<!-- bootstrap & fontawesome -->
<link rel="stylesheet" href="{{=URL('static','assets/css/bootstrap.css')}}" />
<link rel="stylesheet" href="{{=URL('static','assets/css/font-awesome.css')}}" />


<link rel="stylesheet" href="{{=URL('static','assets/css/jquery-ui.custom.css')}}" />
<link rel="stylesheet" href="{{=URL('static','assets/css/chosen.css')}}" />
<link rel="stylesheet" href="{{=URL('static','assets/css/datepicker.css')}}" />
<link rel="stylesheet" href="{{=URL('static','assets/css/bootstrap-timepicker.css')}}" />
<link rel="stylesheet" href="{{=URL('static','assets/css/daterangepicker.css')}}" />
<link rel="stylesheet" href="{{=URL('static','assets/css/bootstrap-datetimepicker.css')}}" />
<link rel="stylesheet" href="{{=URL('static','assets/css/colorpicker.css')}}" />

<!-- page specific plugin styles -->

<!-- text fonts -->
<link rel="stylesheet" href="{{=URL('static','assets/css/ace-fonts.css')}}" />

<!-- ace styles -->
<link rel="stylesheet" href="{{=URL('static','assets/css/ace.css')}}" class="ace-main-stylesheet" id="main-ace-style" />
<link rel="stylesheet" href="{{=URL('static','assets/css/ace-skins.css')}}" class="ace-main-stylesheet" id="main-ace-style" />

<!--[if lte IE 9]>
    <link rel="stylesheet" href="{{=URL('static','assets/css/ace-part2.css')}}" class="ace-main-stylesheet" />
<![endif]-->

<!--[if lte IE 9]>
  <link rel="stylesheet" href="{{=URL('static','assets/css/ace-ie.css')}}" />
<![endif]-->

<!-- inline styles related to this page -->

<!-- ace settings handler -->
<script src="{{=URL('static','assets/js/ace-extra.js')}}"></script>
<!--[if lte IE 8]>
 <script src="{{=URL('static','assets/js/html5shiv.js') }}"></script>
 <script src="{{=URL('static','assets/js/respond.js') }}"></script>
<![endif]-->


{{

#<!-- page specific plugin scripts -->

response.files.append(URL('static','assets/js/jquery-ui.custom.js'))
response.files.append(URL('static','assets/js/jquery.ui.touch-punch.js'))
response.files.append(URL('static','assets/js/jquery.easypiechart.js'))
response.files.append(URL('static','assets/js/jquery.sparkline.js'))
response.files.append(URL('static','assets/js/flot/jquery.flot.js'))
response.files.append(URL('static','assets/js/flot/jquery.flot.pie.js'))
response.files.append(URL('static','assets/js/flot/jquery.flot.resize.js'))
#response.files.append(URL('static','assets/js/typeahead.jquery.js'))
#response.files.append(URL('static','js/bloodhound.js'))
response.files.append(URL('static','js/typeahead.bundle.js'))


#<!-- ace scripts -->

#response.files.append(URL('static','assets/js/markdown/markdown.js'))
#response.files.append(URL('static','assets/js/markdown/bootstrap-markdown.js'))
#response.files.append(URL('static','assets/js/jquery.hotkeys.js'))
response.files.append(URL('static','assets/js/ace/elements.scroller.js'))
response.files.append(URL('static','assets/js/ace/elements.colorpicker.js'))
response.files.append(URL('static','assets/js/ace/elements.fileinput.js'))
response.files.append(URL('static','assets/js/bootstrap-wysiwyg.js'))
response.files.append(URL('static','assets/js/ace/elements.wysiwyg.js'))
response.files.append(URL('static','assets/js/ace-elements.js'))


response.files.append(URL('static','assets/js/ace/elements.spinner.js'))
response.files.append(URL('static','assets/js/ace/elements.treeview.js'))
response.files.append(URL('static','assets/js/ace/elements.wizard.js'))
response.files.append(URL('static','assets/js/ace/elements.aside.js'))
response.files.append(URL('static','assets/js/ace/ace.js'))
response.files.append(URL('static','assets/js/ace/ace.ajax-content.js'))
response.files.append(URL('static','assets/js/ace/ace.touch-drag.js'))
response.files.append(URL('static','assets/js/ace/ace.sidebar.js'))
response.files.append(URL('static','assets/js/ace/ace.sidebar-scroll-1.js'))
response.files.append(URL('static','assets/js/ace/ace.submenu-hover.js'))
#response.files.append(URL('static','assets/js/ace/ace.widget-box.js'))
response.files.append(URL('static','assets/js/ace/ace.settings.js'))
response.files.append(URL('static','assets/js/ace/ace.settings-rtl.js'))
response.files.append(URL('static','assets/js/ace/ace.settings-skin.js'))
response.files.append(URL('static','assets/js/ace/ace.widget-on-reload.js'))
response.files.append(URL('static','assets/js/ace/ace.searchbox-autocomplete.js'))

response.files.append(URL('static','assets/js/jquery.nestable.js'))



response.files.append(URL('static','assets/js/date-time/moment.js'))
response.files.append(URL('static','assets/js/fuelux/fuelux.spinner.js'))
response.files.append(URL('static','assets/js/date-time/bootstrap-datepicker.js'))
#response.files.append(URL('static','assets/js/date-time/bootstrap-timepicker.js'))

response.files.append(URL('static','js/moment.min.js'))
response.files.append(URL('static','js/bootstrap-datetimepicker.min.js'))
response.files.append(URL('static','js/locales/bootstrap-datetimepicker.pt-BR.js'))
response.files.append(URL('static','css/bootstrap-datetimepicker.min.css'))
response.files.append(URL('static','js/jquery.slimscroll.min.js'))

response.files.append(URL('static','assets/js/date-time/daterangepicker.js'))

response.include_meta()


css_s=[]
js_s=[]
for _k,_file in enumerate(response.files or []):
  if _file in response.files[:_k]:
     continue
  _file0=_file.lower().split('?')[0]
  if _file0.endswith('.css'):
     css_s.append(LINK( _href=_file, _rel="stylesheet", _type="text/css") )
  elif _file0.endswith('.js'):
     js_s.append(SCRIPT( _src=_file, _type="text/javascript") )
  pass
pass
}}

{{
for static in css_s:
    =XML("%s\n" %static.xml())
    pass
}}



<!--[if IE 7]>
  {{=LINK( _href=URL('static','assets/css/font-awesome-ie7.css'), _rel="stylesheet", _type="text/css")}}
<![endif]-->

<!--[if lte IE 8]>
  {{=LINK( _href=URL('static','assets/css/ace-ie.css'), _rel="stylesheet", _type="text/css")}}
<![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
{{=SCRIPT( _src=URL('static','assets/js/html5shiv.js'), _type="text/javascript")}}
{{=SCRIPT( _src=URL('static','assets/js/respond.js'), _type="text/javascript")}}
<![endif]-->



<script type="text/javascript"><!--
    // These variables are used by the web2py_ajax_init function in web2py_ajax.js (which is loaded below).
    var w2p_ajax_confirm_message = "{{=T('Are you sure you want to delete this object?')}}";
    var w2p_ajax_date_format = "{{=T('%Y-%m-%d')}}";
    var w2p_ajax_datetime_format = "{{=T('%Y-%m-%d %H:%M:%S')}}";
    var ajax_error_500 = '{{=XML(T('An error occured, please %s the page') % A(T('reload'), _href=URL(args=request.args, vars=request.vars))) }}'
    //-->
</script>
