{{extend 'atividades/atividade_base.html' }}

{{ block js }}
  {{super}}
  <script type="text/javascript" language="javascript" charset="utf-8">
    $(document).ready(function(){
      $('.sender').click(function(e){
        e.preventDefault();
        var $this_ = $(this)
        var url = $this_.attr('data-url');
        if (!$this_.hasClass('disabled')){
          $.ajax({
              url: url,
              success: function(data) {
                $('#message').html(data);
              }
          });
        }
        $this_.addClass('muted disabled');
      });
    });
  </script>
{{ end }}

{{ block breadcrumbs }}
	{{ super }}
	<span class="divider">/</span> <li><a href="{{=URL('atividades','resumo_participacao',args=(atividade.slug,)) }}">resumo de participação</a></li>
{{ end }}

{{ block title_page }}
  <h2>Resumo de Participação</h2>
  <div class="alert alert-info">
    Aqui você pode vizualizar um grande resumo dos dados fincanceiros e dos inscritos desta atividades.
  </div>
{{ end }}

{{ if inscritos_grupo: }}
  {{# regroup grupos_inscritos by grupo.instituicao as grupos_inscritos_list }}

  <h3>Grupos Inscritos</h3>
  {{ for gl in grupos_inscritos_list: }}
    <h4>
      {{ gl.grouper }}
    </h4>
<!--      <div class="btn-group">-->
<!--        <a class="btn dropdown-toggle disabled" data-toggle="dropdown" href="#" id="actions">-->
<!--          Selecione ao menos uma atividade-->
<!--          <span class="caret"></span>-->
<!--        </a>-->
<!--        <ul class="dropdown-menu">-->
<!--          <li><a href="{{=URL('atividades','export_data',args=(atividade.slug,'zip') ) }}" class="get_checkds"><i class="icon-download"></i> Gerar as listas de presença</a></li>-->
<!--          <li><a href="{{=URL('atividades','export_data',args=(atividade.slug,'xls') ) }}" class="get_checkds"><i class="icon-share"></i> Exportar para planilha eletrônica</a></li>-->
<!--        </ul>-->
<!--      </div>-->
    <table class="table table-striped table-bordered">
      <tr>
<!--          <td></td>-->
        <th>
          Grupo
        </th>
        <th>
          Resumo
        </th>
      </tr>
      {{ for gi in gl.list: }}
        <tr>
<!--            <th>-->
<!--              <input type="checkbox" value="atividades" name="all" id="all" class="selectAll" style="margin:5px 0 0 7px;"/ >-->
<!--            </th>-->
          <td>
            <a href="{{=URL('atividades','grupo_detail',args=(gi.grupo.slug,) ) }}">
              {{gi.grupo.nome}}
            </a>
          </td>
          <td>
            {{ #regroup gi.inscritos_ by atividade as atividades_list }}
            <h5>Atividades Inscritas</h5>
            <ul>
              {{ for al in atividades_list: }}
                <li>{{al.grouper}} - <b><em>{{al.list|length}}</em></b></li>
              {{ pass }}
            </ul>
            {{ if atividade.detalhe_pagamento_.forma_pagamento == "bo": }}
              <h5>Boletos</h5>
              <ul>
                {{ for boleto in gi.boletos: }}
                  <li class="{{ if boleto.pago: }}text-success{{ else: }}{{ if boleto.sinalizar_pago: }}text-info{{ else: }}text-error{{ pass }}{{ pass }}">
                    <a href="{{=URL('atividades','get_boleto',args=(atividade.slug, boleto.id) ) }}">
                      <i class="icon-download" ></i>
                    </a>
                    {{boleto.nosso_numero_formatado}} - R$: {{boleto.valor}} ({{ if boleto.pago: }}pago{{ else: }}{{ if boleto.sinalizar_pago: }}sinalizado{{ else: }}pendente{{ pass }}{{ pass }})
                  </li>
                {{ pass }}
                <li style="list-style:none;">
                  <hr>
                  <dl class="dl-horizontal">
                    <dt>
                      Total Inscrições:
                      <dd>
                        <b><em>R$: {{gi.valor_total}}</em></b>
                      </dd>
                    </dt>
                    <dt>
                      Total Pago:
                      <dd>
                        <b><em>R$: {{gi.valor_pago_total}}</em></b>
                      </dd>
                    </dt>
                  </dl>
                </li>
              </ul>
            {{ pass }}
            {{ if gi.artigos: }}
              <h5>Artigos Submetidos</h5>
              <ul>
                {{ for artigo in gi.artigos: }}
                  <li>
                    <a href="{{=URL('atividades','visualizar_artigo',args=(atividade.slug,artigo.id) ) }}" >
                      {{artigo}}
                    </a>
                  </li>
                {{ pass }}
              </ul>
            {{ pass }}

            <div class="btn-group hide_this" id="id_comprovante">
              <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                Comprovante de inscrição
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a data-url="{{=URL('atividades','send_comprovante',args=(atividade.slug, gi.grupo.id_pessoa.id) ) }}?sender=grupo" href="#" class="sender">
                    <i class="icon-share"></i>
                    Enviar para a Organização
                  </a>
                </li>
                <li>
                  <a data-url="{{=URL('atividades','send_comprovante',args=(atividade.slug, gi.grupo.id_pessoa.id) ) }}?sender=inscrito" href="#" class="sender">
                    <i class="icon-share"></i>
                    Enviar para o Grupo
                  </a>
                </li>
                <li>
                  <a href="{{=URL('atividades','comprovante_de_inscricao_grupo',args=(atividade.slug, gi.grupo.id) ) }}">
                    <i class="icon-file"></i>
                    Gerar pdf
                  </a>
                </li>
              </ul>
            </div>

          </td>
        </tr>
      {{ pass }}
    </table>
    <hr/>
  {{ pass }}
{{ pass }}

<table class="table table-striped table-bordered">

  {{ for i in inscritos: }}
    <tr>
      <td>
        <a href="{{=URL('atividades','comprovante_inscricao',args=(atividade.id,i.pessoa_id.slug)) }}">
          {{=i.pessoa_id.nome}}
        </a>
      </td>
    </tr>
  {{ pass }}
</table>

<script type="text/javascript">
  $(document).ready(function(){
    $('.loading').click(function(){
      $(this).button('loading');
    })
  });
</script>
