{{extend 'atividades/atividade_base.html' }}

{{
from atividade_utils import atividade_termino,listas_feitas,num_presenca

termino = atividade_termino(db,atividade)
finalizada = termino < request.now
listas_finalizadas = listas_feitas(db,atividade)

}}

<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th width="5%">
          <input type="checkbox" value="atividades" name="all" id="all" class="selectAll" style="margin:5px 0 0 7px;"/ >
        </th>
        <th>Atividade</th>
        <th>Status Inscrições</th>
        {{ if finalizada and listas_finalizadas: }}
          <th width="15%">Frequ&ecirc;ncia média</th>
        {{ pass }}
        <th width="10%"></th>
      </tr>
    </thead>
    <tbody>
      {{ for a in atividades: }}
        {{ 
            termino = atividade_termino(db,a)
        }}
        
        <tr>
          <td class="align-middle">
            <input type="checkbox" value="{{=a.id}}" name="atividades" id="ativ_id_{{=a.id}}" style="margin:5px 0 0 7px;"/ >
          </td>
          <td class="align-middle">
            <a href = "{{=URL('atividades','visao_geral',args=(a.slug,)) }}">{{=a.nome }}</a> [{{=a.tipo }}]
          </td>
          <td class="align-middle">
            {{=LOAD('atividades','inscricao_delta_chart.load',args=(a.slug),ajax=True)}}
          </td>
          {{ if finalizada and listas_finalizadas: }}
            {{ presenca = num_presenca(db,a) }}
              <td class="center">
                <div class="easy-pie-chart percentage" data-size="50" data-color="#68BC31" data-percent="{{=presenca}}">
                    <span class="percent smaller-80">{{="%.0f" %presenca}} %</span> 
                </div>
              </td>
          {{ pass }}
          <td>
            <button class="btn btn-mini btn-primary detalhes" data-url-link="{{=URL('atividades','detalhes_participacao',args=(a.slug,)) }}" data-target="detalhes-content" data-loading-text="carregando..." data-complete-text="Detalhes">Detalhes</button>
          </td>
        </tr>
        <tr class="hide clear">
          <td colspan="{{ if finalizada and listas_finalizadas: }}6{{ else: }}5{{ pass }}">
            <div id="target_{{=a.id}}" style="width:100%;max-height:400px;overflow-y: auto;"></div>
          </td>
        </tr>
      {{ pass ##end for}}
    </tbody>
</table><br>

<div id="detalhes-content" class="hide">
</div><!-- #dialog-message -->
  
  
{{block script}}
    {{super}}
    <script type="text/javascript">
        jQuery(function($) {
          $('.detalhes').click(function(e){
            var button = $(this)
            var url=$(this).attr('data-url-link');
            var target = $('#' + $(this).attr('data-target') );
            target.html('Carregando...');
            $.ajax({
              url: url,
              type: "POST",
              success: function(data) {
                target.html(data);
              }
            });
            
            e.preventDefault();
	
			var dialog = $( "#detalhes-content" ).removeClass('hide').dialog({
				modal: true,
				title: "Detalhes",
				title_html: true,
				width: '80%',
				top: '100px',
				buttons: [ 
					{
						text: "Cancel",
						"class" : "btn btn-xs",
						click: function() {
							$( this ).dialog( "close" ); 
						} 
					},
					{
						text: "OK",
						"class" : "btn btn-primary btn-xs",
						click: function() {
							$( this ).dialog( "close" ); 
						} 
					}
				]
			});
          });
	
      });
    </script>
{{end}}

