{{ if globals().get('first'): }}<hr>{{pass}}
{{read = mensagem.readed()
  can_del=True}}

<div class="row-fluid{{if not read and can_del:}} alert alert-info{{pass}}">
  <div class="span2">
    <ul class="thumbnails">
      <li>
        <div class="thumbnail" style="text-align:center;">
          <img src="{{=URL('download',args=(mensagem.de.miniatura(60,60),))}}" alt="img" />
        </div>
      </li>
    </ul>
  </div>
  <div class="span10">
    <div class="btn-group pull-right">
      <a class="btn btn-mini reply" href="{{=URL('send_message',vars=dict(destinatarios=[pessoa.pessoa.id],resposta=mensagem.id,assunto='Re: %s' %mensagem.assunto)) }}">
        <i class="icon-share" ></i> responder
      </a>
      {{if not read and can_del:}}
        <a class="btn btn-mini lida" href="{{=URL('readed_message',vars=dict(mensagem=mensagem.hash)) }}">
          <i class="icon-message-empty" ></i> marcar como lida
        </a>
      {{pass}}
      {{if can_del: }}
        <a class="btn btn-mini btn-danger" href="{{=URL('delete_message',vars=dict(mensagem=mensagem.hash))}}">
          <i class="icon-trash icon-white" ></i> apagar
        </a>
      {{pass}}
    </div>
    {{=H4(mensagem.assunto,' ',TAG.small(mensagem.hora))}}
    <h5><a href="{{=URL('pessoa',args=(mensagem.de.slug,))}}">{{=mensagem.de.nome}}</a></h5>
    <p>{{=XML(mensagem.conteudo)}}</p>
    <div class="reply_block"></div>
    {{=XML(mensagem.render_resposta(can_del))}}
  </div>
</div>
