{{
left_sidebar_enabled,right_sidebar_enabled=True,False
from grupo_utils import grupo_menu
grupo_menu(response,auth,grupo)
}}

{{extend globals().get('layout','layout.html') }}

<div class="row" style="margin-bottom:20px;">
    <div class="col-xs-12 col-sm-3">
        <img src="{{=URL('default','download',args=(grupo.miniatura,))}}" alt="Miniatura" />
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="center">
            <span class="btn btn-app btn-sm btn-light no-hover">
                <span class="line-height-1 bigger-170 blue"> <i class="ace-icon fa fa-calendar"></i> </span>
                <br />
                <span class="line-height-1 smaller-90"> Atividades </span>
            </span>

            <span class="btn btn-app btn-sm btn-yellow no-hover">
                <span class="line-height-1 bigger-170"> <i class="ace-icon fa fa-thumbs-up"></i> </span>
                <br />
                <span class="line-height-1 smaller-90"> Seguidores </span>
            </span>

            <span class="btn btn-app btn-sm btn-pink no-hover">
                <span class="line-height-1 bigger-170"><i class="ace-icon fa fa-cogs"></i></span>
                <br />
                <span class="line-height-1 smaller-90"> Projetos </span>
            </span>

            <span class="btn btn-app btn-sm btn-grey no-hover">
                <span class="line-height-1 bigger-170"><i class="ace-icon fa fa-book"></i></span>
                <br />
                <span class="line-height-1 smaller-90"> Reuniões </span>
            </span>

            <span class="btn btn-app btn-sm btn-success no-hover">
                <span class="line-height-1 bigger-170"><i class="ace-icon fa fa-photo"></i> </span>
                <br />
                <span class="line-height-1 smaller-90"> Albuns </span>
            </span>

            <a class="btn btn-app btn-sm btn-primary no-hover" href="{{=URL('grupos', 'integrantes',args=(grupo.slug,))}}">
                    <span class="line-height-1 bigger-170"><i class="ace-icon fa fa-group"></i></span>
                    <br />
                    <span class="line-height-1 smaller-90">Membros</span>
            </a>
        </div>
    </div>
</div>
{{include}}
