{{
#response.files.append(URL('static','css/jquery.multiselect.filter.css'))
response.files.append(URL('static','css/bootstrap-select.min.css'))
response.files.append(URL('static','js/jquery.jeditable.js'))
response.files.append(URL('static','js/bootstrap-select.min.js'))
}}
{{extend 'grupos/grupo_base.html' }}

{{ def render_topicos(topicos_list,tipo='em_pauta'):}}
  {{include 'grupos/topico_list.html'}}
{{return ''}}

{{block script}}
  {{super}}
  <script type="text/javascript">
    $(document).ready(function(){
      $(".secretario").editable("/shout/edit/", {
        data   : "{ {#% for i in integrantes_list %#}'{{#i.id#}}':'{{#i.nome}}'{{# if not forloop.last }},{{#endif}}{{#endfor}} }",
        type   : "select",
        submit : "OK",
        cancel : 'Cancel'
      });
      $("#id_pautas").multiselect({
        noneSelectedText: 'Selecione ao menos uma pauta!',
        selectedList: 3,
        close: function(event, ui){
          $("input[name=check]").attr('checked', false);
          var array_of_checked_values = $("select").multiselect("getChecked").map(function(){return this.value;}).get();
          if (array_of_checked_values.length>0){
              $(location).attr('href','{% url mostra_reuniao grupo.slug reuniao.id %}?pautas=' + array_of_checked_values);
             }
          },
      });
    });
    $(window).on('load', function () {
        $('.selectpicker').selectpicker({
            style: 'btn-info pull-right',
            size: 9
        });
    });
  </script>
{{end}}

{{
    topicos_em_pauta = reuniao.topicos_set().select(groupby=db.topico.id)
    num_topicos = len(topicos_em_pauta)
    num_topicos_pendentes = len(topicos_pendentes)
    vars = {'pautas':request.get_vars.get('pautas')} if request.get_vars.get('pautas')  else {}
}}


<h4>Pauta: {{=reuniao.pauta_id.nome}}</h4>
<h4>Secretário: <span class="secretario" id="reuniao_{{=reuniao.id}}_secretario">{{=reuniao.secretario_id.nome}}</span></h4>
<br>

<form method="POST" name="formulario" >
  <div class="btn-toolbar" style="text-align:right;">
    <a class="btn btn-primary{{ if not num_topicos: }} disabled{{pass}}"{{ if not num_topicos: }} title="Esta reunião não pode ser encerrada sem nenhum tópico! Considere excluí-la se for o caso" disabled="disabled"{{pass}} href={{=URL('grupos','encerra_reuniao',args=(grupo.slug,reuniao.hash),vars=request.get_vars)}}>
      <i class="icon-circle-exclamation-mark icon-white"></i>  Encerrar Reunião
    </a>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 widget-container-span">
	    <div class="widget-box">
		    <div class="widget-header">
			    <h5>T&oacute;picos em Pauta ( <span id="num_topicos_pauta">{{=num_topicos}}</span> )</h5>

			    <div class="widget-toolbar">
				    <a href="{{=URL('grupos','topico',args=(grupo.slug,reuniao.hash),vars=vars) }}" title="Clique para adicionar um novo topico" data-toggle="tooltip">
					    <i class="icon-plus-sign bigger-120"></i>
				    </a>
				    <a href="#" data-action="collapse">
					    <i class="icon-chevron-up"></i>
				    </a>
			    </div>
		    </div>

		    <div class="widget-body">
			    <div class="widget-main">
				    {{=render_topicos(topicos_em_pauta,tipo='em_pauta')}}
			    </div>
		    </div>
	    </div>
    </div>
    <div class="col-xs-12 col-sm-6 widget-container-span">
	    <div class="widget-box">
		    <div class="widget-header">
			    <h5>T&oacute;picos Pendentes para as pautas listadas ( <span id="num_topicos_pendentes">{{=num_topicos_pendentes}}</span> )</h5>

			    <div class="widget-toolbar">
				    <a href="{{=URL('grupos','topico',args=(grupo.slug,reuniao.hash),vars=vars) }}" data-action="settings">
					    <i class="icon-plus-square"></i>
				    </a>
				    <a href="#" data-action="collapse">
					    <i class="icon-chevron-up"></i>
				    </a>
			    </div>
		    </div>

		    <div class="widget-body">
			    <div class="widget-main">
			      <p class="alert alert-info" style="margin:10px 0 0 ;">
              <i class="icon-circle-info"></i>  Clique em discutir para editar/colocar o tópico em pauta
              <a class="close" data-dismiss="alert" href="#">&times;</a>
            </p>
			      {{=SELECT(*[OPTION(p.nome,_value=p.id,**dict(_selected='selected') if p.id in pautas_list else dict() ) for p in db((db.pauta.grupo_id==grupo.id)).select()],_class="selectpicker",_multiple='multiple',_id="id_pautas")}}
				    {{=render_topicos(topicos_pendentes,tipo='pendente')}}   
			    </div>
		    </div>
	    </div>
    </div>
  </div>  <!-- fim dos tópicos -->
  <div class="row">
    <div class="col-xs-12 col-sm-12 widget-container-span">
      <div class="widget-box collapsed">
        <div class="widget-header">
          <h5>Ausentes ({{=reuniao.ausentes_set().count()}}) </h5>
          
          <div class="widget-toolbar">
	          <a href="#" data-action="collapse">
		          <i class="icon-chevron-down"></i>
	          </a>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main">
	          {{#rForm.ausentes}}
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="btn-toolbar" style="text-align:right;">
    <a class="btn btn-primary{{ if not num_topicos: }} disabled{{pass}}"{{ if not num_topicos: }} title="Esta reunião não pode ser encerrada sem nenhum tópico! Considere excluí-la se for o caso" disabled="disabled"{{pass}} href={{=URL('grupos','encerra_reuniao',args=(grupo.slug,reuniao.hash),vars=request.get_vars)}}>
      <i class="icon-circle-exclamation-mark icon-white"></i>  Encerrar Reunião
    </a>
  </div>
</form>
