{{
  prefix = {'em_pauta':'','pendente':'pendente_'}
  col = {'em_pauta':9,'pendente':12}
}}

<div class="panel-group" id="accordion_{{=tipo}}">
  {{ for i,topico_by_assunto in enumerate(regroup(topicos_list,db.topico.assunto_id)): }}
    {{ 
       topicos_in_assunto_count = len(topico_by_assunto.list)
       assunto = db.assunto(topico_by_assunto.grouper).assunto if topico_by_assunto.grouper else "Sem Assunto"
    }}

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-xs-{{=col[tipo]}} panel-title">
          <a data-toggle="collapse" data-parent="#accordion_{{=tipo}}" href="#topico_{{=prefix[tipo]}}{{=i}}">
             <h4>{{=assunto or XML("&lt;Sem assunto&gt;")}} ( {{=T("%s %%{tópico}",topicos_in_assunto_count)}} )</h4>
           </a>
        </div>
        {{if tipo=='em_pauta':}}
          <div class="col-xs-3">
            <a class="pull-right btn btn-sm btn-success" href = "{{=URL('grupos','desmembrar_topico',args=(grupo.slug,reuniao.hash,topico_by_assunto.grouper)) }}" rel="tooltip" class="btn btn-mini{{ if not assunto: }} disabled{{pass}}" title="{{ if not assunto: }} Você não pode criar um tópico relacionado à este assunto, pois este tópico não possui um assunto{{ else: }}Clique para criar um tópico relacionado a este assunto{{pass}}">
              <i class="icon-plus-sign"></i> Tópico relacionado
            </a>
          </div>
        {{pass}}
      </div>
    </div>
    <div id="topico_{{=prefix[tipo]}}{{=i}}" class="panel-collapse collapse">
      <div class="panel-body">
          {{ for topico in topico_by_assunto.list: }}
            {{if tipo=='em_pauta':}}{{topico = topico.reuniao_topicos.topico_id}}{{pass}}
            <div class="btn-toolbar">
              <div class="btn-group">
                {{if tipo=='em_pauta':}}
                  <a href = "{{=URL('grupos','topico',args=(grupo.slug,reuniao.hash,topico.id),vars=vars) }}" class="btn btn-xs btn-primary" rel="tooltip" title="Clique para editar">
                    <i class="icon-pencil icon-white"></i>
                  </a>
                  <a class="btn btn-xs btn-danger" href="{{=URL('grupos','remove_topico',args=(grupo.slug,reuniao.hash,topico.id),vars=vars)}}" rel="tooltip" title="Clique para remover este tópico de pauta" >
                    <i class="icon-trash"></i>
                  </a>
                {{else:}}
                  <a  rel="tooltip" href = "{{=URL('grupos','topico',args=(grupo.slug,reuniao.hash,topico.id),vars=vars) }}" class="btn btn-primary btn-sm" title="Clique para colocar tópico em pauta">
                    <i class="icon-conversation icon-white"></i> Discutir
                  </a>
                {{pass}}
              </div>
              <div class="btn-group pull-right" style="text-align:right;font-size:15px;">
                <strong>
                  {{ if topico.status: }}
                    <span class="label label-{{=topico.status_class }} arrowed-right">{{=topico.status}}</span>
                  {{pass}}
                  <em>{{=date2str(topico.data)}}</em>
                </strong>
              </div>
            </div>
            <div class="space-2">
            </div>
            {{ include "grupos/topico_descricao.html" }}
          {{pass}}
      </div>
    </div>
  </div>
  
  {{pass}}
  
</div>







