{{extend 'grupos/grupo_base.html' }}

<div class="alert alert-error">
  <p>
    Procure prestar bastante atenção antes de aceitar a solicitação de inclusão no grupo,
    pois após você incluir uma pessoa como integante ou tutor ele passará a ter acesso
    a algumas funcionalidades do site que podem ser confidenciais. Cheque com a pessoa que
    está solicitando se foi ela quem realmente solicitou a inclusão e verifique se o email
    da pessoa que está solicitando é realmente de quem você pensa que é.
  </p>
</div>
{{ if not 'form' in globals(): }}
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td></td>
        <th>Nome</th>
        <th>email</th>
        <th>Recusada</th>
      </tr>
    </thead>
    <tbody>
      {{ for solicitacao in solicitacoes:
           juntarse_grupo = solicitacao.juntarse_grupo
           pessoa_fisica=solicitacao.pessoa_fisica
        }}
        <tr{{ if juntarse_grupo.rejeitada: }} class="muted"{{pass}}>
          <td>
            {{=A(I(_class="icon-eye-open")," ver",
                 _href=URL('grupos','validar_inclusoes', args=(grupo.slug,),vars=dict(solicitacao=juntarse_grupo.id)),
                 _class="btn btn-xs")}}
          </td>
          <td>{{=pessoa_fisica.pessoa_id.nome}}</td>
          <td>{{=pessoa_fisica.user_id.email}}</td>
          <td>{{ if juntarse_grupo.rejeitada: }}Recusada{{ else: }}-{{pass}}</td>
        </tr>
      {{pass}}
    </tbody>
  </table>
{{ else: }}
  <div class="well">
    <h3>Dados do solicitante</h3>
    <div class="well">
      <table class="table table-striped table-bordered">
        <tr>
          <td>Nome do solicitante: </td>
          <td>{{=pessoa_fisica.pessoa_id.nome}}</td>
        </tr>
        <tr>
          <td>email: </td>
          <td>{{=pessoa_fisica.user_id.email}}</td>
        </tr>
        <tr>
          <td>Curso: </td>
          <td>{{=pessoa_fisica.pessoa_id.curso or '-'}}</td>
        </tr>
        <tr>
          <td>Cidade: </td>
          <td>{{=pessoa_fisica.pessoa_id.cidade or '-'}}</td>
        </tr>
      </table>
      {{=form}}
    </div>
  </div>
{{pass}}
