{{
  from inscricao_utils import em_periodo_confirmacao,insc_number
  from atividade_utils import periodos_shortcut
}}

<h4>Atividades{{ if insc_grupo: }}/Pessoas{{ pass }} Inscritas </h4>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th width="15"></th>
      <th>Nº</th>
      {{ if insc_grupo: }}
        <th>Integrante</th>
      {{ pass }}
      <th>Atividade</th>
      <th>Natureza</th>
      <th>Horário(s)</th>
    </tr>
  </thead>
  <tbody>
    {{ for a in atividades_inscritas: }}
      {{ insc = db((db.inscrito.atividade_id==a.id) & (db.inscrito.pessoa_id==pessoa.pessoa.id)).select().first() }}
      <tr>
        <td>
          {{ if a.confirmacao: }}
            {{ if insc.confirmado: }}
              <i class="icon-circle-ok" title="Confirmado"></i>
            {{ else: }}
              {{ if em_periodo_confirmacao(db,a): }}
                <a href = "{{=URL('atividades','confirma_inscricao',args=(atividade.slug,insc.id) ) }}">
                  <i class="icon-circle-exclamation-mark" title="Inscrição não confirmada. Confirmar?"></i>
                </a>
              {{ pass }}
            {{ pass }}
          {{ pass }}
          {{ if not insc.finalizada: }}
            <a href="{{=URL('atividades','delete_inscricao',args=(atividade.slug,insc.id) ) }}" onclick="return linkid(this);" class="clearboth">
              <i class="icon-trash"></i>
            </a>
          {{ pass  }}
        </td>
        <td>{{ =insc_number(db,insc) }}</td>
        {{ if insc_grupo: }}
          <td>{{=insc.pessoa.nome}}</td>
        {{ pass }}
        <th><a href="{{=URL('atividades','atividade',args=(a.slug) ) }}">{{=a.nome}}</a></th>
        <td>{{=atividade_tipos[a.tipo]}}</td>
        <td>{{=periodos_shortcut(db,a)}}</td>
      </tr>
    {{ pass }}
  </tbody>
</table>
